/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: black;
  background: linear-gradient(to bottom, #ff9f00, #241f67);

}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
}

/* Estilos del header */
.titulo {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(to bottom, #ff9f00, #241f67);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Estilos de la barra de navegación */
.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #ff9f00, #241f67);
  }
  


.navegacion a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navegacion a:hover {
  background-color: #2a9d9a;
}

.navegacion a.active {
  background-color: #2a9d9a;
}

li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: white;
  text-decoration:none;
}


.nav-links{
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
  }
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color:rgb(8, 8, 8);
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px; }

/* Estilos de los productos */
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.product img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  transition: transform 0.3s ease;
  border: none;
}

.product:hover img {
  transform: scale(1.1);
}

.product .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.product:hover .image-overlay {
  opacity: 1;
}

.product .image-overlay h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product .image-overlay p {
  font-size: 12px;
  margin-bottom: 0;
}

/* Estilos del carrito de compras */
.cart {
  margin-top: 40px;
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(to bottom, #ff9f00, #241f67);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  margin-bottom: 5px;
}

.cart .cart-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4b5c;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: transform 0.3s ease;
}

.cart .cart-icon.added {
  transform: scale(1.2);
   }

   .cart-icon-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
  }
  
  .cart-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ff6f00; /* Cambiar el color de fondo según tus preferencias */
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cart-icon:hover {
    background-color: #ff8f00; /* Cambiar el color de fondo en el hover según tus preferencias */
  }
  
  .cart-notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    background-color: #ff1744; /* Cambiar el color de fondo del contador según tus preferencias */
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px;
    line-height: 1;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .cart-icon:hover .cart-notification-count {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

/* Galería de imágenes */
section {
  display: flex;
  width: 600px;
  height: 430px;
  justify-content: center;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/* Estilos del footer */
footer {
  text-align: center;
  padding: 20px ;
  background: linear-gradient(to bottom,#241f67, #ff9f00 );
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

/* Estilos de la calculadora */
.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calculator input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #fff;
  text-align: right;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculator .buttons button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: #000;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculator .buttons button:hover {
  background-color: #d3d3d3;
}

.calculator .buttons .operator {
  background-color: #ff9500;
  color: #fff;
}

.calculator .buttons .operator:hover {
  background-color: #ff7f00;
}

.calculator .buttons .equal {
  background-color: #ff2d55;
  color: #fff;
}

.calculator .buttons .equal:hover {
  background-color: #ff184d;
}

.calculator .buttons .clear {
  grid-column: 1 / span 2;
  background-color: #bdc3c7;
  color: #fff;
}

.calculator .buttons .clear:hover {
  background-color: #9b9fa1;
}

/* Estilo del botón de finalizar compra */
.checkout-btn {
  background-color: #2a9d9a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #218c89;
}

/* Animación al colocar el puntero sobre el botón */
.checkout-btn:hover {
  animation: scaleButton 0.3s ease;
}


/* Estilos del mensaje de éxito */
.success-message {
  display: none;
  text-align: center;
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.added-to-cart {
  display: flex;
  flex-wrap: wrap;
}

.added-to-cart .product {
  width: 50%;
}

.logo img {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  max-width: 100%;
  height: auto;
}
/*para titulo, estilos*/
 .logo h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

.logo h1 {
  animation: bounce 1s ease;
}
/*imagenes tamaño*/
.product img {
  width: 200px; /* Ajusta el valor según el tamaño deseado */
  height: 200px; /* Ajusta el valor según el tamaño deseado */
  object-fit:cover;}

/* Animación del botón */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.add-to-cart {
  display: inline-block;
  background-color: #ff9f00;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  animation: pulse 1s infinite;
}

.add-to-cart:hover {
  background-color: #241f67;
}

.descripcion {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.descripcion p {
  margin-bottom: 0;
}

.descripcion strong {
  font-weight: bold;
}

.descripcion em {
  font-style: italic;
}

.descripcion a {
  color: #2a9d9a;
  text-decoration: none;
}

.descripcion a:hover {
  text-decoration: underline;
}

/*estilos de la pagina producto*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.animated-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.animated-image:hover {
  transform: scale(1.1);
}

.description {
  text-align: center;
  margin-top: 10px;
  align-self: flex-end;
}

/*media para la pagina*/





